@use 'toastify-js/src/toastify.css';

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 60px auto;
}

.task-input label {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.taskTitle {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
    &:focus {
      background-color: #fff;
      outline: none;
      border-radius: 5px;
  }
}

.task-button-container {
  display: flex;
  gap: 10px;
}

.hidden {
  display: none;
}

.links {
  display: flex;
  justify-content: space-between;
}