* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1000px;
  margin: 60px auto;
}

.task-input {
  max-width: 500px;
  width: 100%;
}

.task-input label {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.task {
  background-color: #e8e3e3;
  color: #000000;
  font-weight: 500;
  border: 2px solid #000000;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskTitle {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
}

.taskTitle:hover, .taskTitle:focus {
  background-color: #fff;
  outline: none;
  border-radius: 5px;
}